.section {
  max-width: 725px;
  margin-inline: auto;
  padding-block: 48px 24px;
  text-align: center;
}

.emoji {
  display: block;
  margin-bottom: 30px;
  font-size: 64px;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 16px;
}

.section p {
  margin: 0;
  font-size: 14px;
  line-height: 1.75;
  color: var(--color-46);
}

@media (min-width: 768px) {
  .section {
    padding-top: 80px;
  }

  .section h2 {
    font-size: 20px;
  }

  .section p {
    font-size: 18px;
    line-height: 1.4;
  }
}
