.header {
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 0 8px;
  margin-bottom: 40px;
}

.header h1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}

.header p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.34;
  color: var(--color-primary);
}

.play {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / span 2;
  align-self: center;
  width: 100%;
  height: 48px;
  padding: 0;
  font-size: 0;
  color: var(--color-primary);
  border-radius: 50%;
  border: 0;
  background-color: var(--color-primary-transparent);
  outline: none;
  cursor: pointer;
}

.play::after {
  position: absolute;
  top: 16px;
  left: 18px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left-color: currentColor;
  border-left-width: 16px;
}

.play:focus-visible {
  color: var(--color-100);
  background-color: var(--color-primary);
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr 75px;
    gap: 0 12px;
    margin-bottom: 52px;
  }

  .header h1 {
    font-size: 64px;
  }

  .header p {
    margin-top: 12px;
    font-size: 24px;
    line-height: 1.2;
  }

  .play {
    height: 75px;
  }

  .play::after {
    top: 28px;
    left: 28px;
    border-width: 11px;
    border-left-width: 24px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .play:hover {
    color: var(--color-100);
    background-color: var(--color-primary);
  }
}
